body {
    background-color: rgb(243, 0, 122)
    ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    para1
     text-align: center;
     color: .;
     
     
     .letrasrojasfondonegro

contenedor
                 borde
               absolute;
                top :20px
     
     prueba
     psition:relative;
     background-color;